<div class="section" *ngIf="!team">

  <!-- Start Grid -->
  <div class="container"> 
    
    <!-- Main Row -->
    <div class="row">
      <div class="col">




        <!---ABOUT DIV--->

        <div class="about" wmAnimate="fadeInUp" speed="normal" aos> 
         
            <h1>about</h1>

            <div class="abouttext">
              We incorporate a <br /><u>client-driven philosophy</u> <br />
              and implement the latest technologies to deliver<br />
              <u>innovative, responsive, and cost-effective solutions.</u>
            </div>
            
            <div class="row">

              <div class="col-sm"></div>

              <div class="col-sm colmargin">
                <div class="teambutton"><button (click) = "goTeam()">THE TEAM</button></div>
              </div>

              <div class="col-sm"></div>

            </div>

        </div>

        <!---END ABOUT DIV--->








      </div>
    </div>
    <!-- Main Row -->

  </div>
  <!-- End Grid -->

</div>


<div class="team" *ngIf="team" wmAnimate="fadeInUp" speed="normal">
  

  <div class="teamdiv">
    <app-team></app-team>
  </div>

  <div class="aboutbutton"><button (click) = "goAbout()">ABOUT</button></div>

  
</div>