<div class="section">

  <!-- Hero Gradient -->     
  <div class="gradient"></div> 
  <!-- Hero Gradient -->

  <!-- Start Grid -->
  <div class="container">

      <!-- Navigation Row -->   
      <div class="row">                
          <div class="col-md">
              <div class="logotext"></div>
          </div>
          <div class="col-md">
              
          </div>
      </div>
      <!-- Navigation Row -->   

      <!-- Main Row -->   
      <div class="row">           
          <div class="col-sm"></div>

          <!-- Typewriter Column -->     
          <div class="col-md-5 typewritercol"> 
              <div class="row">
                  <div class="col">
                      <div class="typewriter">
                          <app-typewriter></app-typewriter>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Typewriter Column -->   
          
          <!-- Phone Column -->     
          <div class="col-md-5 phonecol">
              <div class="phone"></div>
          </div>
          <!-- Phone Column -->     

          <div class="col-sm"></div>
      </div>
      <!-- Main Row -->  

  </div>
  <!-- End Grid -->

</div>


