<div class="section">
    <div class="container">
        <div class="row ">
            <div class="col-sm-8 column msg">
                <div class="message">

                    <div class="row">
                        <div class="col-sm column">
                            <div class="contactus"><h1>contact</h1></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm column">
                           EMAIL
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm column">
                           NAME
                        </div>
                    </div>


                    
                    <div class="row">
                        <div class="col-sm column">
                           <div class="contactform"><h2>ajsklfjskdfs</h2></div>
                        </div>
                    </div>


                    
                    <div class="row">
                      
                        <div class="col-sm column">
                            <div class="submitbutton"><button>Submit</button></div>
                        </div>
                       
                    </div>




                </div>
            </div>

            <div class="col-sm column info">
                <div>info</div>
            </div>
        </div>
    </div>
</div>
