@import 'src/styles.scss';

.section{
    width: 100%;
    height: 768px;
    background-color: rgb(255, 255, 255);
   
    .wireframes{
        width: 100%;
        height: 450px;
       
        .nfsbdiv{
            
            .device1{
                width: 240px;
                height: 450px;
                position: absolute;
                z-index: 1;
                background-image:url('src/images/portfolio/nfsbdetail.png');
                background-size: auto 550px;
                background-position: -145px -35px;
                text-align: center;
            }
    
            .device2 {   
                width: 230px;
                height: 420px;
                position: absolute;
                z-index: 1;
                background-image:url('src/images/portfolio/nfsbonboarding.png');
                background-size: auto 500px;
                background-position: -130px -30px;
                // @include fadeIn();

                 @include xs{
                     @include textposition(50px, 135px);
                 }
            
                 @include xl{
                     @include textposition(50px, 0px);
                 }
            }
        }
    
        .llanodiv{
            .device1{
                
                width: 525px;
                height: 450px;
                position: absolute;
                z-index: 1;
                background-image:url('src/images/portfolio/llanodesktop.png');
                background-size: auto 550px;
                background-position: -20px -65px;
                text-align: center;
                @include xs{
                    @include textposition(0px, 50px);
                }
           
                @include xl{
                    @include textposition(0px, -150px);
                }
            }
    
            .device2 {   
               
                width: 360px;
                height: 260px;
                position: absolute;
                z-index: 1;
                background-image:url('src/images/portfolio/llanoipad.png');
                background-size: auto 420px;
                background-position: -40px -90px;

                 @include xs{
                     @include textposition(200px, 0px);
                 }
            
                 @include xl{
                     @include textposition(200px, -80px);
                 }
            }
        }
    
        .farmingdiv{
             .device1{
                width: 245px;
                height: 450px;
                position: absolute;
                z-index: 1;
                background-image:url('src/images/portfolio/map.png');
                background-size: auto 520px;
                background-position: -145px -35px;
                text-align: center;
            }
    
            .device2 {   
                width: 210px;
                height: 410px;
                position: absolute;
                z-index: 1;
                background-image:url('src/images/portfolio/farms.png');
                background-size: auto 450px;
                background-position: -130px -30px;

                 @include xs{
                     @include textposition(70px, 145px);
                 }
            
                 @include xl{
                     @include textposition(70px, 10px);
                 }
            }
        }
    }

    .portfolio{
        width: 100%;
    
        h1{
            @include xs{
                height: 60px;
                font-size: 35px;
                letter-spacing: 10px;
                color: #777777;               
            }
            
            @include xl{  
                height: 120px; 
                font-size: 120px;
                letter-spacing: 35px;
                color: black;
            }
        }
    }

    .title{
        width: 100%;
        font-size: 36px;
        text-align: center;
    }

    .options{
        text-align: center;
        width: 100%;

        button{
          
            background-color: white; 
            border: 1px solid gray;
            border-radius: 50px;
            @include fadeIn();
           

            @include xs{
                width: 100px;
                height: auto;
                font-size: 10px;
                margin: 2px;
                
            }

            @include xl{
                width: 150px;
                height: auto;
                font-size: 16px;
                margin: 5px;
            }
        }

        button:hover{
            border: none;
            background-color: #FF8000; 
            color: white;
            @include fadeIn();
           
            
        }



    }

    .text{
        height: 250px;
        width: 100%;

        @include xs{
           display: none;
        }
        
        @include xl{  
           display: grid;
        }
    }

    .nav{
        text-align: center;
        width: 100%;

        button{
          
            background-color: white; 
            border: 1px solid gray;
            border-radius: 50px;
            @include fadeIn();
           

            @include xs{
                width: 50px;
                height: auto;
                font-size: 10px;
                margin: 2px;
                
            }

            @include xl{
                width: 50px;
                height: auto;
                font-size: 16px;
                margin: 5px;
            }
        }

        button:hover{
            border: none;
            background-color: #FF8000; 
            color: white;
            @include fadeIn();
           
            
        }
    }
}

