
@import 'src/styles.scss';

.section{
    background-image:  url('src/images/heropage/blank.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

    @include xs{
        width: 100%;
        height: 100%;
    }

    @include xl{
        background-color: black;
        width: 100%;
        min-width: 1366px;
        height: 768px;
    }


 
    .typewritercol{
        height: 100vh;
        // border: 1px solid white;
    }

    .phonecol{
        // border: 1px solid white;
        @include xs{
            background-color:  #FF8000;
            height: 825px;
        }

        @include xl{
            background-color: transparent;
            height: 100%;
        }
        
    }

   
    .typewriter{

        width: 325px;
        height: 200px;
        
        @include xs{
            position: relative;
            margin-top: 90%;
        }
    
    
        @include xl{
            position: relative;
            margin-top: 60%;
          
          
        }
    }

    .logoname{
       
        z-index: 100000000;
        width: 200px;
        height: 50px;
        background-image:  url('src/images/heropage/fulllogo.png');
        background-size: 200px;
        background-repeat: no-repeat;

        @include xs{
            background-size: 150px;
            margin: 12px;
        }
    
        @include xl{
            margin: 10px;
            background-size: 200px;
        }
    }

    .gradient{
        position: absolute;
        width: 100%;
       
       
    
        @include xs{
            height: 1000px;
            background-image: linear-gradient(to bottom, rgba(255, 128, 0, 0.2), rgba(255, 128, 0, 0.44) 37%, rgba(255, 128, 0, 0.81) 66%, #FF8000);
        }

        @include xl{
            height: 768px;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.44) 37%, rgba(255, 255, 255, 0.81) 66%, rgb(255, 255, 255));
        }
    }
    

    .phone{
        background-image:  url('src/images/heropage/iphone.png');
        background-repeat: no-repeat;
        background-position: -35px -45px;
       
        z-index: 10;
    
        @include xs{
           position: relative;
            background-size: 500px;
            width: 420px;
            height: 950px;
            background-color: transparent;
        }
   
        @include xl{
            position: relative;
            background-size: 510px;
            width: 420px;
            height: 950px;
            background-color: transparent;
        }
    }


}