<div class="section">
  <h1>our work</h1>
  <ngb-carousel *ngIf="works" data-interval="false" class="carousel">
    
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="stuff">


          
            <div class="row">
              
              <div class="col-sm-1"></div>

              <div class="col-sm-3">
                <div class="wireframes">
                  <div class="nfsbdiv" >  
                    <div class="row">
                      <div class="col-md"></div>
                      <div class="col-md">
                        <div class="device1" ></div>
                        <div class="device2"></div>
                      </div>
                      <!-- <div class="col-md">
                        
                      </div> -->
                      <div class="col-md"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm">
                    <h2>Not For Sale But...</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm">

                    <div class="options optionsweb">
                      <button (click)="details('about')" [@lastClicked]="about ? 'clicked' : 'notClicked'">ABOUT</button> 
                      <button (click)="details('problem')" [@lastClicked]="problem ? 'clicked' : 'notClicked'">PROBLEM</button> 
                      <button (click)="details('solution')" [@lastClicked]="solution ? 'clicked' : 'notClicked'"> SOLUTION</button>
                    </div>  

                    <div class="options optionsmobile" >
                      <button (click)="detailsxl('about')" [@lastClicked]="aboutmobile ? 'clicked' : 'notClicked'">ABOUT</button> 
                      <button (click)="detailsxl('problem')" [@lastClicked]="problem ? 'clicked' : 'notClicked'">PROBLEM</button> 
                      <button (click)="detailsxl('solution')" [@lastClicked]="solution ? 'clicked' : 'notClicked'"> SOLUTION</button>
                    </div> 
                  </div>
                </div>

                <div class="row" >
                  <div class="col-sm">
                    
                      <div class="abouttext text" *ngIf="about" wmAnimate="fadeIn" speed="normal">
                        {{nfsb.about}}
                      </div>

                      <div class="aboutmobiletext text" *ngIf="aboutmobile" [@lastText]="aboutmobile ? 'clicked' : 'notClicked'" wmAnimate="fadeIn" speed="normal">
                        {{nfsb.about}}
                      </div>
    
                      <div class="problemtext text"  *ngIf="problem"  [@lastText]="problem ? 'clicked' : 'notClicked'" wmAnimate="fadeIn" speed="normal">
                        {{nfsb.problem}}
                      </div>
              
                      <div class="solutiontext text"  *ngIf="solution" [@lastText]="solution ? 'clicked' : 'notClicked'" wmAnimate="fadeIn" speed="normal">
                        {{nfsb.solution}}
                      </div>
                   
                  </div>
                </div>

              </div>

              <div class="col-sm-2"></div>
             
            </div>
          </div>  
        </div>

      </ng-template>


      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="stuff">

          
          
            <div class="row">
              
              <div class="col-sm"></div>

              <div class="col-sm column">
                <div class="wireframes">
                  <div class="llanodiv" >  
                    <div class="row">
                      <div class="col-md"></div>
                      <div class="col-md">
                        <div class="device1" ></div>
                      </div>
                      <div class="col-md">
                        <div class="device2"></div>
                      </div>
                      <div class="col-md"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-5">

                <div class="row">
                  <div class="col-sm">
                    <h2>Llano Waste</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm">
                    <div class="options optionsweb">
                      <button (click)="details('about')" [@lastClicked]="about ? 'clicked' : 'notClicked'">ABOUT</button> 
                      <button (click)="details('problem')" [@lastClicked]="problem ? 'clicked' : 'notClicked'">PROBLEM</button> 
                      <button (click)="details('solution')" [@lastClicked]="solution ? 'clicked' : 'notClicked'"> SOLUTION</button>
                    </div>  

                    <div class="options optionsmobile" >
                      <button (click)="detailsxl('about')" [@lastClicked]="aboutmobile ? 'clicked' : 'notClicked'">ABOUT</button> 
                      <button (click)="detailsxl('problem')" [@lastClicked]="problem ? 'clicked' : 'notClicked'">PROBLEM</button> 
                      <button (click)="detailsxl('solution')" [@lastClicked]="solution ? 'clicked' : 'notClicked'"> SOLUTION</button>
                    </div> 
                  </div>
                </div>
              

                 <div class="row" >
                  <div class="col-sm">
                    
                      <div class="abouttext text" *ngIf="about" wmAnimate="fadeIn" speed="normal">
                        {{llano.about}}
                      </div>

                      <div class="aboutmobiletext text" *ngIf="aboutmobile" [@lastText]="aboutmobile ? 'clicked' : 'notClicked'" wmAnimate="fadeIn" speed="normal">
                        {{llano.about}}
                      </div>
    
                      <div class="problemtext text"  *ngIf="problem"  [@lastText]="problem ? 'clicked' : 'notClicked'" wmAnimate="fadeIn" speed="normal">
                        {{llano.problem}}
                      </div>
              
                      <div class="solutiontext text"  *ngIf="solution" [@lastText]="solution ? 'clicked' : 'notClicked'" wmAnimate="fadeIn" speed="normal">
                        {{llano.solution}}
                      </div>
                   
                  </div>
                </div>



             

              </div>
              <div class="col-sm"></div>
            </div>
          </div>  
        </div>

      </ng-template>

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="stuff">

          
          
            <div class="row">
              
              <div class="col-sm"></div>

              <div class="col-sm column">
                <div class="wireframes" >
                  <div class="farmingdiv">  
                    <div class="row">
                      <div class="col-md"></div>
                      <div class="col-md">
                        <div class="device1" ></div>
                      </div>
                      <div class="col-md">
                        <div class="device2"></div>
                      </div>
                      <div class="col-md"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-5">

                <div class="row">
                  <div class="col-lg">
                    <h2>Farming App</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg">
                    <div class="options optionsweb">
                      <button (click)="details('about')" [@lastClicked]="about ? 'clicked' : 'notClicked'">ABOUT</button> 
                      <button (click)="details('problem')" [@lastClicked]="problem ? 'clicked' : 'notClicked'">PROBLEM</button> 
                      <button (click)="details('solution')" [@lastClicked]="solution ? 'clicked' : 'notClicked'"> SOLUTION</button>
                    </div>  

                    <div class="options optionsmobile" >
                      <button (click)="detailsxl('about')" [@lastClicked]="aboutmobile ? 'clicked' : 'notClicked'">ABOUT</button> 
                      <button (click)="detailsxl('problem')" [@lastClicked]="problem ? 'clicked' : 'notClicked'">PROBLEM</button> 
                      <button (click)="detailsxl('solution')" [@lastClicked]="solution ? 'clicked' : 'notClicked'"> SOLUTION</button>
                    </div> 
                  </div>
                </div>
              

                <div class="row">
                  <div class="col-lg">
                    <div class="abouttext text" *ngIf="about" wmAnimate="fadeIn" speed="normal">
                      {{farming.about}}
                    </div>

                    <div class="aboutmobiletext text" *ngIf="aboutmobile" [@lastText]="aboutmobile ? 'clicked' : 'notClicked'" wmAnimate="fadeIn" speed="normal">
                      {{farming.about}}
                    </div>
  
                    <div class="problemtext text"  *ngIf="problem"  [@lastText]="problem ? 'clicked' : 'notClicked'" wmAnimate="fadeIn" speed="normal">
                      {{farming.problem}}
                    </div>
            
                    <div class="solutiontext text"  *ngIf="solution" [@lastText]="solution ? 'clicked' : 'notClicked'" wmAnimate="fadeIn" speed="normal">
                      {{farming.solution}}
                    </div>
                  </div>
                </div>



             

              </div>
              <div class="col-sm"></div>
            </div>
          </div>  
        </div>

      </ng-template>



  </ngb-carousel>
</div>
