@import 'src/styles.scss'; 

.section{
    width: 100%;
    
    background-color:  rgb(168, 168, 168);
   
    color: rgb(0, 0, 0);

   





    @include xs{
        height: 100vh;    
     }
     
 
     @include xl{  
         height: 768px;
     }


   

     
    .carousel{

        border: 1px solid red;

        width: 100%;
        @include xs{
            height: 100vh;    
         }
         
     
         @include xl{  
             height: 100%;
         }
    }

    
        h1{
            
            text-align: center;
            width: 100%;
            margin-top: 35px;
            position: absolute;

            @include xs{
                font-size: 35px;
                letter-spacing: 10px;
                color: #ffffff; 
            }
            
            @include xl{  
                font-size: 120px;
                letter-spacing: 35px;
                color: black;
            }
        }
    }


