<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md column">
                <div class="testimonials"><h1>testimonials</h1></div>
            </div>
        </div>
       <div class="row">
        
        <div class="col-md column">
                 
            <div class="row">
                <div class="col-md column">
                    <div class="message">Message</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm column">
                    <div class="name"><h4>NAME and PHOTO</h4></div>
                </div>

               

                
            </div>
        </div>


        <div class="col-md column second">
            
            
            <div class="row">
                <div class="col-md column">
                    <div class="message">MESSAGE</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm column">
                    <div class="name">NAME</div>
                </div>

                

                
            </div>
        
        </div>
        
      

       </div>
    </div>
</div>
