@import 'src/styles.scss';

.cols{
   
    @include xs{
        width: 70px;
        height: 300px;
        display: none;
    }

    @include xl{
        width: 225px;
        height: 768px;
        display: grid;
       
    }
}

.nat{
    background-image:url('src/images/about/nat-min.png');
    

    @include xs{
        border: 1px solid white;
        width: 20%;
        height: 350px;
        background-size: auto 350px;
        background-position: -30px 0px;
    }

    @include xl{
        border: 5px solid white;
        width: 225px;
        height: 768px;
        background-position: -20px 0px;   
        background-size: 450px;
    }
}



.ethan{

    background-image:url('src/images/about/ethan-min.png');
    
    
    @include xs{
        border: 1px solid white;
        width: 20%;
        height: 350px;
        background-size: auto 350px;
        background-position: -30px 0px;
    }

    @include xl{
        border: 5px solid white;
        width: 225px;
        height: 768px;
        background-position: -20px 0px;  
        background-size: 450px; 
    }
}

.riley{

    background-image:url('src/images/about/riley-min.png');
   
    
    @include xs{
        border: 1px solid white;
        width: 20%;
        height: 350px;
        background-size: auto 350px;
        background-position: -30px 0px;
    }

    @include xl{
        border: 5px solid white;
        width: 225px;
        height: 768px;
        background-position: -20px 0px;  
        background-size: 450px; 
    }
}

.kat{

    background-image:url('src/images/about/kat-min.png');
    
    
    @include xs{
        border: 1px solid white;
        width: 20%;
        height: 350px;
        background-size: auto 350px;
        background-position: -30px 0px;
    }

    @include xl{
        border: 5px solid white;
        width: 225px;
        height: 768px;
        background-position: -20px 0px;  
        background-size: 450px; 
    }
}

.alex{

    background-color: green;
   
    
    @include xs{
        border: 1px solid white;
        width: 20%;
        height: 350px;
        background-size: auto 350px;
        background-position: -30px 0px;
    }

    @include xl{
        border: 5px solid white;
        width: 225px;
        height: 768px;
        background-position: -20px 0px;  
        background-size: 450px; 
    }
}

.section{
    width: auto;
    border: 1px solid black;
    background-color:rgb(255, 255, 255);
    

    @include xs{
        
        height: auto;
        
    }

    @include xl{
        
        height: 768px;   
    }



    .container{
        @include xs{
        
            margin-top: 50%;
        }
    
        @include xl{
            
            margin-top: 0px; 
        }
    }

    

    

}

.details{

    width: 100%;
    border: 1px solid red;
   

    @include xs{
        padding: 0px;
        height: 100vh;
    }

    @include xl{
        padding: 0px;
        height: 768px;   
    }

   .natdet{
      
       
       background-image:url('src/images/about/nat-min.png');
        margin: 0 auto;



    @include xs{

        width: 250px;
        height: 400px;
        background-size: 250px;
       
    }

    @include xl{
        width: 400px;
        height: 768px;
        background-size: 450px;
    }


   }

   .ethandet{
        background-image:url('src/images/about/ethan-min.png');
        margin: 0 auto;
        @include xs{

            width: 250px;
            height: 400px;
            background-size: 250px;
           
        }
    
        @include xl{
            width: 400px;
            height: 768px;
            background-size: 450px;
        }
 
    }

    .rileydet{
        background-image:url('src/images/about/riley-min.png');
        margin: 0 auto;
        @include xs{

            width: 250px;
            height: 400px;
            background-size: 250px;
           
        }
    
        @include xl{
            width: 400px;
            height: 768px;
            background-size: 450px;
        }
   
    }

    .katdet{

        background-image:url('src/images/about/kat-min.png');
        margin: 0 auto;
        @include xs{

            width: 250px;
            height: 400px;
            background-size: 250px;
           
        }
    
        @include xl{
            width: 400px;
            height: 768px;
            background-size: 450px;
        }

    }

    .teambutton{
        position: relative;
        text-align: center; 
       
        z-index: 1000000;

        @include xs{
        
            margin-left: 25%;
            margin-top: 0%;
        }
    
        @include xl{
            
            margin-left: 0px;
            margin-top: 0%;
        }

        button{
            background-color: white;
            border: 1px solid #707070;
            width: 100px;
            height: 30px;
            border-radius: 50px;
            cursor: pointer;
            font-size: 16px;
            text-transform: uppercase;
            font-family: "Roboto Slab";
            margin-right: 20px;
            @include fadeIn();
        }
                    
        button:hover{
            background-color: #FF8000;
            color: white;
            border: none;
            font-size: 15px;
            opacity: 1;
            @include fadeIn();
        }            
    }
}